@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-color: #2e4da1;
  --bg-color: #10375c;
  --text-color: #e51e25;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
  box-shadow: none !important;
}
body {
  background-color: #f0f1f1;
  padding-top: 80px;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.body-bg-home {
  position: relative;
}
.body-bg-home::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../images/before-header.svg);
  background-repeat: no-repeat;
  width: 200px;
  height: 170px;
  background-size: cover;
  opacity: 0.3;
}
@media (max-width: 991px) {
  .body-bg-home::before {
    opacity: 0.2;
    background-size: contain;
  }
  body {
    padding-bottom: 50px;
  }
}

/* global style ------ */
.text-h2 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 767px) {
  .text-h2 {
    font-size: 30px;
  }
}

/* start header ---------------- */
.header {
  position: fixed;
  width: 100%;
  top: 10px;
  z-index: 999;
}
.header .navbar-fixed {
  border-radius: 20px;
  background: rgba(240, 241, 241, 0.66);
  box-shadow: 0px 4px 27.1px 0px rgba(121, 121, 121, 0.15);
  padding: 0px 20px;
  height: 82px;
}
.header .logo img {
  width: 170px;
  height: auto;
  object-fit: contain;
}
.header .ul-list li a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}
.header .toogle-bar svg {
  color: var(--main-color);
}
.input-search input {
  display: flex;
  height: 40px;
  border-radius: 10px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.input-search .search-outline {
  position: absolute;
  right: 20px;
  top: 10px;
}
.input-search input::placeholder {
  font-size: 14px;
}
.header .shopping-cart {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.shopping-cart span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: #de2220;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header .ul-list li a.active {
  color: #de2220;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .input-search input {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .header .offcanvas-slide {
    background: rgba(240, 241, 241, 0.85);
    backdrop-filter: blur(9.649999618530273px);
  }
  .header .ul-list {
    margin-top: 30px !important;
  }
  .header .ul-list li a {
    margin-bottom: 12px;
  }
  .shopping-cart span {
    font-size: 9.6px;
    width: 16px;
    height: 16px;
  }
}
.header .media {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.header .language li a,
.header .media li a svg {
  color: var(--main-color);
  font-weight: 600;
}

/* end header ---------- */
.carousel-card .typing-demo-2 {
  font-size: 40px;
  border-right: solid 3px var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 8s steps(29, end) 1s infinite, animated-cursor 600ms steps(29, end) infinite;
  display: inline-block;
  -webkit-animation: animated-text 8s steps(29, end) 1s infinite, animated-cursor 600ms steps(29, end) infinite;
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 18ch;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: var(--bg-color);
  }
  to {
    border-right-color: transparent;
  }
}

.carousel-card .typing-demo-2 .red {
  color: var(--text-color);
}
@media (max-width: 991px) {
  .carousel-card .typing-demo-2 {
    font-size: 24px;
  }
}

/* start categories ------------- */
.categories .title h2 {
  color: #3a3a3a;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.categories .title p {
  color: var(--color-gray-1, #9a9a9a);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.categories .bg-item {
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.categories .box-img img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.categories .box-img .overlay {
  position: absolute;
  color: #fff;
  inset: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #10375c;
  overflow: hidden;
  height: 100%;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.categories .box-img:hover .overlay {
  opacity: 1;
  border-right: 7px solid var(--main-color);
}
.categories .box-img .overlay .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 29%;
}
.categories .box-img .chevron {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 17px;
  background-color: var(--main-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}
.categories .box-img h5 {
  color: #222831;
  font-size: 20px;
  font-weight: 700;
}
.categories .box-img .chevron h6 {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .categories .box-img h5 {
    font-size: 16px;
  }
}
/* end categories ------------- */

/* start second-categories */
.second-categories .box img {
  width: 100%;
  height: 417px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.second-categories .box .desc {
  position: absolute;
  top: 25%;
  right: 0;
}
.second-categories .box .desc h4 {
  font-size: 48px;
  font-weight: 700;
  color: #132b44;
}
.second-categories .box .desc P,
.second-categories .box .sale p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.second-categories .box .desc button {
  display: flex;
  padding: 13px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #de2220;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.second-categories .box .desc button:hover {
  background-color: #132b44;
}
.second-categories .box .sale {
  position: absolute;
  top: 20px;
  left: 20px;
}
.second-categories .box .sale h6 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.second-categories .box .sale h4 {
  color: #fff;
  font-size: 90px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .second-categories .box img {
    height: 319px;
  }
  .second-categories .box .desc {
    top: 0;
  }
}
.second-categories .svg-categories {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.2;
}
/* end second-categories */

/* start goods-carousel ---- */
.product-item .item {
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.product-item .item .link img {
  width: inherit !important;
}
.product-item .item .img-cover img {
  width: 100%;
  height: 200px;
}

.product-item .item h5 {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.product-item .item h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.product-item .item p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.product-item .item h4 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin: 0;
}
.product-item .minus-plus button {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.product-item .item .add-cart button {
  background: var(--main-color);
  height: 45px;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.whatsapp-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #35d955;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
  font-size: 20px;
}
.whatsapp-icon:hover {
  color: #ffff;
}
@media (max-width: 991px) {
  .product-item .item h5 {
    font-size: 12px;
  }
  .product-item .item h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  .product-item .item h4 {
    font-size: 12px;
  }
  .product-item .item .add-cart button {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 14px;
    height: 45px;
    padding: 0;
  }
  .whatsapp-icon {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 40px;
  }
}

/* end goods-carousel ---- */

/* start leave-request ------- */
.leave-request .title h2 {
  color: #10375c;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.leave-request form input {
  height: 40px;
}
.leave-request form input,
.leave-request form textarea {
  border-radius: 10px;
  border: 0;
}
.leave-request form textarea:focus,
.leave-request form input:focus {
  border: 0;
}
.leave-request form input::placeholder,
.leave-request form textarea::placeholder {
  color: #10375c;
}
.leave-request form button {
  border-radius: 10px;
  border: 1px solid #fff;
  background: #fff;
  height: 50px;
  color: #10375c;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.4px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.leave-request form button:hover {
  background-color: var(--bg-color);
  color: #fff;
}
@media (max-width: 991px) {
  .leave-request .title h2 {
    font-size: 20px;
  }
}
/* end leave-request ------- */

/* start footer --------- */
.footer {
  position: relative;
}
.footer h6 {
  color: #4d4d4d;
}
.footer a {
  text-decoration: none;
}
.footer .logo img {
  width: 200px;
  margin-bottom: 20px;
}
.footer ul li a {
  color: #4d4d4d;
}
.footer .media li a {
  margin: 0 20px 0 0;
  color: var(--main-color);
  font-size: 18px;
}
.footer ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
}
.footer .copyright img {
  width: 1000%;
  height: 50px;
}
.footer .copyright p {
  font-size: 14px;
  margin: 0;
}
.footer .add-hover:hover {
  background-color: var(--main-color) !important;
}
.footer .add-hover:hover svg {
  color: #fff !important;
}
/* end footer ------------- */

/* start carousel-card ------- */
.owl-carousel {
  touch-action: manipulation;
}
.carousel-card .item img {
  height: auto;
  width: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  position: relative;
}
.carousel-card .item .item-desc {
  position: absolute;
  top: 40%;
  left: 160px;
}
@media (max-width: 991px) {
  .carousel-card .item .item-desc {
    left: 10px;
  }
  .carousel-card .owl-carousel .owl-nav .owl-prev,
  .carousel-card .owl-carousel .owl-nav .owl-next {
    display: none;
  }
}
.carousel-card .owl-carousel .owl-nav .owl-prev,
.carousel-card .owl-carousel .owl-nav .owl-next {
  position: relative;
  background: none;
  top: 38%;
}
.carousel-card .owl-carousel .slide-arrow {
  border: none;
  width: 42px;
  height: 42px;
  font-size: 20px;
  border-radius: 10px;
  background: var(--main-color);
  color: #fff;
}
.carousel-card .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 0;
}
.carousel-card .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
}

.carousel-card .owl-theme .owl-dots .owl-dot.active span,
.carousel-card .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--main-color);
}
/* end carousel-card ------- */
.our-partners .item img {
  width: 125px;
  height: 125px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.slide-products .owl-carousel .owl-nav .owl-prev,
.slide-products .owl-carousel .owl-nav .owl-next {
  position: absolute;
  background: none;
  top: 40%;
}
.slide-products .owl-carousel .slide-arrow {
  border: none;
  width: 42px;
  height: 42px;
  font-size: 20px;
  border-radius: 10px;
  background: var(--main-color);
  color: #fff;
}

@media (max-width: 991px) {
}

/* start footer-icon ------------ */
.whatsapp-fixed {
  position: fixed;
  right: 20px;
  z-index: 55;
  bottom: 120px;
  background-color: #10ab16;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footer-icon {
  z-index: 102;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  box-shadow: 0 -0.5px 0 rgb(0 0 0 / 30%);
}
.footer-icon li a {
  color: #999999cc;
  transition: all 0.3s;
  cursor: pointer;
}
.footer-icon a.active {
  color: #fff !important;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon a:hover {
  color: var(--main-color);
}
/* end footer-icon ------------ */

.header .switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
.header .switch > span {
  position: absolute;
  top: 10px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

.header input.check-toggle-round-flat:checked ~ .off {
  color: #000;
}
.header input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}
.header .switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #000;
}
.header .switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}
.header .check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.header .check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header input.check-toggle-round-flat + label {
  width: 100px;
  height: 35px;
}
.header input.check-toggle-round-flat + label:before,
.header input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

.header input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--main-color);
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.header input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}
.header input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
